D3VILBOT/config.py
D3VILBOT/*.session
D3VILBOT/*.session-journal
D3VILBOT/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
D3VILBOT/modules/helper_funcs/temp.txt
D3VILBOT/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
D3VILBOT.session-journal
updates.txt
*.exe
